.pokemonDetail.MuiCard-root {
  border-radius: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1em;
}

.pokemonDetail .edit {
  width: 50em;
  margin: 0.5em;
  margin-bottom: 2em;
}

.pokemonDetail .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  padding-top: 0;
  padding-bottom: 0;
}

.pokemonDetail .label {
  width: 4em;
  text-align: right;
  padding-right: 1em;
  font-weight: 500;
}
